/* Se aplican estilos segun requerimiento: 
1. Aplicar nueva tipografía (tipo de fuente) para todos los elementos.
a. Se espera, idealmente, utilizar una tipografía externa. Ejemplo: desde Google 
Fonts.
2. Aplicar un fondo gris con el siguiente código: #f5f5f5
a. Los artículos deben mantener un fondo blanco.
3. Mostrar los artículos como una grilla como bloques.
4. Al ubicar el mouse encima de un bloque, aplicar los siguientes estilos:
a. Fondo negro
b. Letra color blanco.
5. Aplicar un estilo distinto al footer del sitio con los siguientes estilos:
a. Color de Fondo: #c9d2d0
b. Color de Letra: #31231e
6. Aplicar estilo de fuente en Negrita, cuando se ubica el cursor encima de cada vínculo.
a. Además, quitar el subrayado.
b. Mantener subrayado cuando el mouse no está encima

SE AGREGAN ESTILOS Y COMPONENTES DE BOOSTRATP 5
NAVBAR,FOOTER,CARDS,SE MANTIENE GRID Y AREAS.
SE utilizan las clases de Boostrap para modelar
*/

/* Estilo css reset */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

/* Estilos al contenedor del layout GRID */
.container_total {
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  grid-template-rows: auto;
  gap: 15px 0px;
  grid-template-areas:
    ". header ."
    ". div1 ."
    ". div2 ."
    ". div3 ."
    ". div4 ."
    ". footer .";
}

/* Estilos a los bloques css  */
.header {
  grid-area: header;
}

.div1 {
  grid-area: div1;
}

.div2 {
  grid-area: div2;
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
}
.footer {
  grid-area: footer;
}
#img_titular{
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
